<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>999116073999-hr0j430etabbso1a7p6dl3s2bc2ng0rr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.999116073999-hr0j430etabbso1a7p6dl3s2bc2ng0rr</string>
	<key>API_KEY</key>
	<string>AIzaSyDbGQiLomNQ3GU03gAhJ7jfwcCwIvUdSvA</string>
	<key>GCM_SENDER_ID</key>
	<string>999116073999</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Maximillian-Stabe.RoomieRadar</string>
	<key>PROJECT_ID</key>
	<string>roomieradarios</string>
	<key>STORAGE_BUCKET</key>
	<string>roomieradarios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:999116073999:ios:ddac536bb89e1cb6e7877a</string>
</dict>
</plist>